services:
  postgres:
    image: postgres:18-bookworm
    container_name: smart-favorites-db
    restart: 'always'
    env_file:
      - .env
    environment:
      - POSTGRES_USER=${SERVICE_DB_USER}
      - POSTGRES_PASSWORD=${SERVICE_DB_PASSWORD}
      - POSTGRES_DB=${SERVICE_DB_NAME}
    ports:
      - "${SERVICE_DB_PORT}:5432"
    volumes:
      - smart-favorites-db-data:/var/lib/postgresql
    networks:
      - app-network
      
  chromadb:
    image: chromadb/chroma:latest
    container_name: chromadb
    restart: always
    ports:
      - "8000:8000"
    volumes:
      - chroma_data:/chroma/chroma
    environment:
      - IS_PERSISTENT=TRUE
      - ALLOW_RESET=TRUE
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  smart-favorites-db-data:
  chroma_data: